<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Video </title>

</head>

<body>
    <Video controls style="width: 100%; height: 95vh;">
        <source src={{url}} type="application/x-mpegURL">
    </Video>

</body>

</html>